/* main.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primaryColour: #53a;
  --textColour: #f8f8f8;
  --textColour2: #d9f;
  --textColour3: #333;
  --highlight: #c4f;
}

body {
  font-family: Helvetica Neue, Helvetica, Geneva, Arial, sans-serif;
  font-weight: lighter;
  /* font-size: 10pt; */
  margin: 3% 5%;
  width: 90%;
}

header p { margin: 2pt; }
header .title {
  font-size: 20pt;
  font-weight: lighter;
  color: var(--primaryColour);
}
footer { 
  font-size: 8pt;
}

#container { padding-top: 5pt; }
#output { margin-top: 5pt; }

/* -----------------------------
 * Controls
 */

#controls {
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: var(--primaryColour);
  color: var(--textColour);
  border-radius: 4px;
  padding: 8pt 0pt;
}

.ctrl-row {
  display: flex;
  flex-direction: row;
}

.control {
  margin: 0pt 8pt;
}

.control span {
  margin-bottom: 2pt;
}

.control label {
  color: var(--textColour2);
}

.control input {
  margin-right: 8px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

#ctrl-generator {
  display: flex;
  align-items: left;
  flex-direction: column;
  -webkit-appearance: none;
}

#ctrl-generator select {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  font-size: 95%;
  background-color: var(--textColour);
  padding: 2pt 4pt;
  border-radius: 4px;
  border: none;
}

#ctrl-strength {
  display: flex;
  align-items: left;
  flex-direction: column;
}

#ctrl-options {
  display: flex;
  align-items: left;
  flex-direction: column;
  position: relative;
}

#ctrl-button {}

#ctrl-button button {
  appearance: none;
  -webkit-appearance: none;
  font-size: 95%;
  background-color: var(--textColour);
  border-radius: 4px;
  border: none;
  padding: 2pt 4pt;
}

#btn-generate label { color: var(--textColour3); }

.description {
  font-size: 80%;
  font-weight: normal;
  color: #ccc;
}

/* -----------------------------
 * Words
 */
.word {
  /* font-size: 125%; */
  margin: 2pt 0pt;
  display: block;
  padding: 4pt 0pt;
  border-color: #ccc;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  cursor: pointer;
}

.word:hover {
  color: var(--highlight);
}

/* -----------------------------
 * Format for mobile
 */

@media screen {
  body { 
    font-family: Helvetica, Geneva, Arial, sans-serif;
    max-width: 450px; 
  }
}
@media handheld {
  body { -webkit-text-size-adjust:none; padding: 5px; }
  div { width: 100%!important; margin: 0pt !important; }
}
